<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false" >
	<contextName>OnlineSubmissionSystem</contextName>
	<!-- 日志文件路径 -->
	<property name="log.base" value="./logs" />

	<!-- 控制台输出日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread-%relative] %-5level [line:%line] %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 滚动日志记录 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
      		<level>DEBUG</level>
      		<onMatch>ACCEPT</onMatch>
      		<onMismatch>DENY</onMismatch>
    	</filter>
		<file>${log.base}/OnlineSubmissSystem_debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${log.base}/OnlineSubmissSystem_backup_%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread-%relative] %-5level [line:%line] %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 错误日志输出 -->
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/OnlineSubmissSystem_error.log</file>
		<!-- 过滤错误等级日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- 文件备份方式 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${log.base}/OnlineSubmissSystem_error_backup_%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<!-- 备份条件 -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread-%relative] %-5level %logger{50} %M %L - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERROR"/>
	</root>
</configuration>